<div class="container" ng-controller="DetailCtrl as vm">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <img ng-src="{{vm.show.poster}}" class="media-object img-rounded">
          <div class="text-center" ng-if="vm.currentUser">
            <div ng-show="!vm.isSubscribed()">
              <button ng-click="vm.subscribe()" class="btn btn-block btn-success">
                <span class="glyphicon glyphicon-plus"></span> Subscribe
              </button>
            </div>
            <div ng-show="vm.isSubscribed()">
              <button ng-click="vm.unsubscribe()" class="btn btn-block btn-danger">
                <span class="glyphicon glyphicon-minus"></span> Unsubscribe
              </button>
            </div>
          </div>
          <div class="text-center" ng-if="!vm.currentUser">
            <a href="#/login" class="btn btn-block btn-primary">Login to Subscribe</a>
          </div>
        </div>
        <div class="media-body">
          <h2 class="media-heading">
            {{vm.show.name}}
            <span class="pull-right text-danger">{{vm.show.rating}}</span>
          </h2>
          <h4 ng-show="show.status === 'Continuing'">
            <span class="glyphicon glyphicon-calendar text-danger"></span>
            {{vm.show.airsDayOfWeek}} <em>{{vm.show.airsTime}}</em> on
            {{vm.show.network}}
          </h4>
          <h4>
            Status: <span class="text-danger">Ended</span>
          </h4>
          <p>{{vm.show.overview}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-info" ng-show="vm.nextEpisode">
    The next episode starts {{vm.nextEpisode.firstAired | fromNow}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-play"></span> Episodes
    </div>
    <div class="panel-body">
      <div class="episode" ng-repeat="episode in vm.show.episodes">
        <h4>{{episode.episodeName}}
          <small>Season {{episode.season}}, Episode {{episode.episodeNumber}}</small>
        </h4>
        <p>
          <span class="glyphicon glyphicon-calendar"></span>
          {{episode.firstAired | date: 'short'}}
        </p>
        <p>{{episode.overview}}</p>
      </div>
    </div>
  </div>
</div>
